@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link id="favicon-shortcut-icon" rel="shortcut icon" href="~/favicon.ico?v=1" type="image/x-icon" />
    <link id="favicon-icon" rel="icon" href="~/favicon.ico?v=1" type="image/x-icon" />
    <title>Smart Advisor</title>
    <base href="~/" />
    @if (hostingEnv.EnvironmentName != "Development")
    {
        <link href="~/dist/styles.css" asp-append-version="true" rel="stylesheet">
    }
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>